$n-color-primary: #2ea0e0;
$n-color-success: #3ebbb7;
$n-color-warning: #fba507;
$n-color-error: #ff6060;

$n-color-custom: #4A5061;
$n-color-link: #2ea0e0;

$n-text-color: #131318;
$n-text-color-inverse: #FFFFFF;
$n-text-color-second: #666464;
$n-text-color-third: #999696;
$n-text-color-forth: #CCC8C8;

$n-text-color-place: #CCC8C8;
$n-text-color-disabled: #CCC8C8;

$n-bg-color-inverse: #FFFFFF;
$n-bg-color-page: #fcfdff;
$n-bg-color-light: #F7F7F9;
$n-bg-color-middle: #d8dbe0;
$n-bg-color-dark: #131318;

$n-bg-color-hover: #F1F1F1;
$n-bg-color-hover-dark: rgba(0, 0, 0, 0.8);
$n-bg-color-mask: rgba(0, 0, 0, 0.2);
$n-bg-color-mask-dark: rgba(0, 0, 0, 0.8);

$n-border-color: #F7F5F5;
$n-border-color-light: #F7F5F5;
$n-border-color-middle: #EBEBEB;
$n-border-color-dark: #CCCCCC;
$n-border-color-inverse: #FFFFFF;

$n-border-width: 1px;

$n-height-ss: 20px;
$n-height-s: 30px;
$n-height-base: 40px;
$n-height-l: 50px;
$n-height-ll: 60px;

$n-font-size-ss: 12px;
$n-font-size-s: 14px;
$n-font-size-base: 15px;
$n-font-size-l: 16px;
$n-font-size-ll: 18px;

$n-lh-ss: 18px;
$n-lh-s: 20px;
$n-lh-base: 21px;
$n-lh-l: 23px;
$n-lh-ll: 25px;

$n-border-radius-ss: 2px;
$n-border-radius-s: 3px;
$n-border-radius-base: 6px;
$n-border-radius-l: 12px;
$n-border-radius-ll: 30px;

$n-space-ss: 4px;
$n-space-s: 8px;
$n-space-base: 12px;
$n-space-l: 16px;
$n-space-ll: 20px;

$n-opacity-disabled: 0.5;
$n-opacity-hover: 0.5;

$n-nav-title-color: #000000;
$n-nav-title-size: 16px;
$n-nav-icon-color: #4C4C4C;
$n-nav-icon-size: 20px;
$n-nav-item-color: #4C4C4C;
$n-nav-item-size: 14px;
$n-nav-bg-color: #FFFFFF;
